
<%- include ("layouts/header.ejs") %>


<h2 class="mb-3">order_client edit </h2><form id="order_client_edit_form" class="needs-validation" method="post" enctype="multipart/form-data" novalidate>

    <div class="row g-3">

        <div class="col-lg-6 col-sm-6 col-12">
            <label for="order_number" class="form-label">order_number</label>
            <input type="text" class="form-control" name="order_number" id="order_number" placeholder="order_number" value="<%= order_client[0].order_number%>" required input_add>
            <div class="invalid-feedback">
                Valid order_number is required.
            </div>
        </div>

        <div class="col-lg-6 col-sm-6 col-12">
            <label for="order_in" class="form-label">order_in</label>
            <input type="text" class="form-control" name="order_in" id="order_in" placeholder="order_in" value="<%= order_client[0].order_in%>" required input_add>
            <div class="invalid-feedback">
                Valid order_in is required.
            </div>
        </div>

        <div class="col-lg-6 col-sm-6 col-12">
            <label for="order_on" class="form-label">order_on</label>
            <input type="text" class="form-control" name="order_on" id="order_on" placeholder="order_on" value="<%= order_client[0].order_on%>" required input_add>
            <div class="invalid-feedback">
                Valid order_on is required.
            </div>
        </div>

        <div class="col-lg-6 col-sm-6 col-12">
            <label for="order_out" class="form-label">order_out</label>
            <input type="text" class="form-control" name="order_out" id="order_out" placeholder="order_out" value="<%= order_client[0].order_out%>" required input_add>
            <div class="invalid-feedback">
                Valid order_out is required.
            </div>
        </div>

        <div class="col-lg-6 col-sm-6 col-12">
            <label for="order_remark" class="form-label">order_remark</label>
            <input type="text" class="form-control" name="order_remark" id="order_remark" placeholder="order_remark" value="<%= order_client[0].order_remark%>" required input_add>
            <div class="invalid-feedback">
                Valid order_remark is required.
            </div>
        </div>

        <div class="col-lg-6 col-sm-6 col-12">
            <label for="order_statut" class="form-label">order_statut</label>
            <input type="text" class="form-control" name="order_statut" id="order_statut" placeholder="order_statut" value="<%= order_client[0].order_statut%>" required input_add>
            <div class="invalid-feedback">
                Valid order_statut is required.
            </div>
        </div>

        <div class="col-lg-6 col-sm-6 col-12">
            <label for="order_total_price" class="form-label">order_total_price</label>
            <input type="text" class="form-control" name="order_total_price" id="order_total_price" placeholder="order_total_price" value="<%= order_client[0].order_total_price%>" required input_add>
            <div class="invalid-feedback">
                Valid order_total_price is required.
            </div>
        </div>

        <div class="col-lg-6 col-sm-6 col-12">
            <label for="user_id" class="form-label">user_id</label>
            <select type="input_type" class="form-control" name="user_id" id="user_id" placeholder="user_id" required input_add>
                            <% if (typeof foreignDatasObj.user_id != 'undefined' && foreignDatasObj.user_id.length > 0 ){
                for(var i = 0;i < foreignDatasObj.user_id.length;i++) { %>
                <option value="<%= foreignDatasObj.user_id[i].user_id %>" <% if (foreignDatasObj.user_id[i].user_id == order_client[0].user_id) {%> selected <%}%>><%= foreignDatasObj.user_id[i].table_row %></option>
                <% }} %>          </select>
            <div class="invalid-feedback">
                Valid user_id is required.
            </div>
        </div>
,        <div class="col-lg-6 col-sm-6 col-12">
            <label for="waiting_id" class="form-label">waiting_id</label>
            <select type="input_type" class="form-control" name="waiting_id" id="waiting_id" placeholder="waiting_id" required input_add>
                            <% if (typeof foreignDatasObj.waiting_id != 'undefined' && foreignDatasObj.waiting_id.length > 0 ){
                for(var i = 0;i < foreignDatasObj.waiting_id.length;i++) { %>
                <option value="<%= foreignDatasObj.waiting_id[i].waiting_id %>" <% if (foreignDatasObj.waiting_id[i].waiting_id == order_client[0].waiting_id) {%> selected <%}%>><%= foreignDatasObj.waiting_id[i].table_row %></option>
                <% }} %>          </select>
            <div class="invalid-feedback">
                Valid waiting_id is required.
            </div>
        </div>

        <div class="col-lg-6 col-sm-6 col-12">
            <label for="main" class="form-label">main</label>
            <input type="file" class="form-control" name="main" id="main" placeholder="main" value="main_value"  input_add>
            <div class="invalid-feedback">
                Valid main is .
            </div>
        </div>

        <div class="col-lg-6 col-sm-6 col-12">
            <label for="file_u" class="form-label">file_u</label>
            <input type="file" class="form-control" name="file_u" id="file_u" placeholder="file_u" value="file_u_value"   multiple="multiple">
            <div class="invalid-feedback">
                Valid file_u is .
            </div>
        </div>

table_inputs    </div>

    <hr class="my-4">

    <button class="w-100 btn btn-primary btn-lg" type="submit">edit</button>
</form>
<%- include ("layouts/footer.ejs") %>


