
<%- include ("layouts/header.ejs") %>


<h2 class="mb-3">product_option list admin</h2>                                <div class="d-flex flex-row-reverse">
                                    <a class="btn btn-sm btn-primary col-lg-2 p-2 m-2" href="/product_option/add">Nouveau</a>
                                </div>
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">

            <% if (typeof (product_option) != "undefined" &&  product_option.length > 0 ) {
            for(let i = 0; i<product_option.length; i++) {
            %>
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/img/default.png"/>

                        <div class="card-body">
                            <p class="card-text"><%= product_option[i].product_option_title%></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline-primary" href="/product_option/<%= product_option[i].option_id%>/details">Voir</a>
                                    <a class="btn btn-sm btn-outline-success" href="/product_option/<%= product_option[i].option_id%>/edit">Modifier</a>
                                    <a class="btn btn-sm btn-outline-danger" href="/product_option/<%= product_option[i].option_id%>/delete">Supprimer</a>                                </div>
                                <small class="text-muted">...</small>
                            </div>
                        </div>
                    </div>
                </div>

            <% }
            }%>

        </div>
    </div>
</div>
<%- include ("layouts/footer.ejs") %>


