
<%- include ("layouts/header.ejs") %>


<h2 class="mb-3">product_detail add </h2><form id="product_detail_add_form" class="needs-validation" method="post" enctype="multipart/form-data" novalidate>

    <div class="row g-3">

        <div class="col-lg-6 col-sm-6 col-12">
            <label for="order_id" class="form-label">order_id</label>
            <select type="input_type" class="form-control" name="order_id" id="order_id" placeholder="order_id" required input_add>
                            <% if (typeof foreignDatasObj.order_id != 'undefined' && foreignDatasObj.order_id.length > 0 ){
                for(var i = 0;i < foreignDatasObj.order_id.length;i++) { %>
                <option value="<%= foreignDatasObj.order_id[i].order_id %>" ><%= foreignDatasObj.order_id[i].table_row %></option>
                <% }} %>          </select>
            <div class="invalid-feedback">
                Valid order_id is required.
            </div>
        </div>
,        <div class="col-lg-6 col-sm-6 col-12">
            <label for="product_id" class="form-label">product_id</label>
            <select type="input_type" class="form-control" name="product_id" id="product_id" placeholder="product_id" required input_add>
                            <% if (typeof foreignDatasObj.product_id != 'undefined' && foreignDatasObj.product_id.length > 0 ){
                for(var i = 0;i < foreignDatasObj.product_id.length;i++) { %>
                <option value="<%= foreignDatasObj.product_id[i].product_id %>" ><%= foreignDatasObj.product_id[i].table_row %></option>
                <% }} %>          </select>
            <div class="invalid-feedback">
                Valid product_id is required.
            </div>
        </div>

        <div class="col-lg-6 col-sm-6 col-12">
            <label for="main" class="form-label">main</label>
            <input type="file" class="form-control" name="main" id="main" placeholder="main" value="main_value"  input_add>
            <div class="invalid-feedback">
                Valid main is .
            </div>
        </div>

        <div class="col-lg-6 col-sm-6 col-12">
            <label for="file_u" class="form-label">file_u</label>
            <input type="file" class="form-control" name="file_u" id="file_u" placeholder="file_u" value="file_u_value"   multiple="multiple">
            <div class="invalid-feedback">
                Valid file_u is .
            </div>
        </div>

table_inputs    </div>

    <hr class="my-4">

    <button class="w-100 btn btn-primary btn-lg" type="submit">add</button>
</form>
<%- include ("layouts/footer.ejs") %>


