
<%- include ("layouts/header.ejs") %>


<h2 class="mb-3">product_option list </h2>                                <div class="d-flex flex-row-reverse">
                                    <a class="btn btn-sm btn-primary col-lg-2 p-2 m-2" href="/product_option/add">Nouveau</a>
                                </div>
<div class="row">
    <% if (typeof (product_option) != "undefined" &&  product_option.length > 0 ) {
    for(let i = 0; i<product_option.length; i++) {
    %>
        <div class="col-lg-4 text-center mb-3">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/img/default.png"/>
            <h3 class="fw-normal"><%= product_option[i].product_option_title%></h3>
            <p class="text-truncate"><%= product_option[i].product_option_content%></p>
            <p><a class="btn btn-secondary" href="/product_option/<%= product_option[i].option_id%>/details">Details </a></p>
        </div>
    <% }
    }%>
</div>
<%- include ("layouts/footer.ejs") %>


