
<%- include ("layouts/header.ejs") %>


<h2 class="mb-3">user list </h2>                                <div class="d-flex flex-row-reverse">
                                    <a class="btn btn-sm btn-primary col-lg-2 p-2 m-2" href="/user/add">Nouveau</a>
                                </div>
<div class="row">
    <% if (typeof (user) != "undefined" &&  user.length > 0 ) {
    for(let i = 0; i<user.length; i++) {
    %>
        <div class="col-lg-4 text-center mb-3"> 
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/img/default.png"/>
            <h3 class="fw-normal"><%= user[i].user_title%></h3>
            <p class="text-truncate"><%= user[i].user_content%></p>
            <p><a class="btn btn-secondary" href="/user/<%= user[i].user_id%>/details">Details </a></p>
        </div>
    <% }
    }%>
</div>
<%- include ("layouts/footer.ejs") %>


