
<%- include ("layouts/header.ejs") %>


<h2 class="mb-3">waiting edit </h2><form id="waiting_edit_form" class="needs-validation" method="post" enctype="multipart/form-data" novalidate>

    <div class="row g-3">

        <div class="col-lg-6 col-sm-6 col-12">
            <label for="waiting_date" class="form-label">waiting_date</label>
            <input type="date" class="form-control" name="waiting_date" id="waiting_date" placeholder="waiting_date" value="<%= waiting[0].waiting_date.toISOString().split('T')[0];%>" required input_add>
            <div class="invalid-feedback">
                Valid waiting_date is required.
            </div>
        </div>

        <div class="col-lg-6 col-sm-6 col-12">
            <label for="waiting_total" class="form-label">waiting_total</label>
            <input type="text" class="form-control" name="waiting_total" id="waiting_total" placeholder="waiting_total" value="<%= waiting[0].waiting_total%>" required input_add>
            <div class="invalid-feedback">
                Valid waiting_total is required.
            </div>
        </div>

        <div class="col-lg-6 col-sm-6 col-12">
            <label for="waiting_remaining" class="form-label">waiting_remaining</label>
            <input type="text" class="form-control" name="waiting_remaining" id="waiting_remaining" placeholder="waiting_remaining" value="<%= waiting[0].waiting_remaining%>" required input_add>
            <div class="invalid-feedback">
                Valid waiting_remaining is required.
            </div>
        </div>

        <div class="col-lg-6 col-sm-6 col-12">
            <label for="main" class="form-label">main</label>
            <input type="file" class="form-control" name="main" id="main" placeholder="main" value="main_value"  input_add>
            <div class="invalid-feedback">
                Valid main is .
            </div>
        </div>

        <div class="col-lg-6 col-sm-6 col-12">
            <label for="file_u" class="form-label">file_u</label>
            <input type="file" class="form-control" name="file_u" id="file_u" placeholder="file_u" value="file_u_value"   multiple="multiple">
            <div class="invalid-feedback">
                Valid file_u is .
            </div>
        </div>

table_inputs    </div>

    <hr class="my-4">

    <button class="w-100 btn btn-primary btn-lg" type="submit">edit</button>
</form>
<%- include ("layouts/footer.ejs") %>


