
<%- include ("layouts/header.ejs") %>
<%- include ("layouts/modal.ejs") %>


<main class="col-md-9 ms-sm-auto col-lg-11 px-md-4 scrollbar" style="min-height: 680px; max-height:1080px">
    <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Menu</h1>
        <button class="btn btn-success mb-3" type="button" data-bs-toggle="modal" data-bs-target="#product-add"> <i
                    class="bx bx-plus"></i> Ajouter</button>
    </div>
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-12 col-md-12 pb-5 ">
                <div class="order-details">
                    <div class="order-table table-responsive ">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <!-- <th scope="col">#</th> -->
                                <th scope="col" class="col-2">Catégorie</th>
                                <th scope="col">image</th>
                                <th scope="col">Produit</th>
                             <!--    <th scope="col" class="col-4">ingrédients</th>
                                <th scope="col">Option</th> -->
                                <th scope="col">Prix</th>
                                <th scope="2" class="col-1"></th>
                            </tr>
                            </thead>
                            <% if (typeof (product) != "undefined" &&  product.length > 0 ) {
                            for(let i = 0; i<product.length; i++) {
                            %>
                                <tbody>
                                <tr>
                                    <!--  <td>01</td> -->
                                    <td><%= product[i].cat_name%></td>
                                    <td>
                                        <img src="/api/client/1/img/product/<%= product[i].product_id%>/main.jpg" alt="item" width="80px" >
                                    </td>
                                    <td> <%= product[i].product_name%></td>
                          <!--           <td style="font-size: 10px;"> <%= product[i].product_desig%></td>
                                    <td style="font-size: 10px;"> <%= product[i].product_option%></td> -->
                                    <td><%= product[i].product_price%> da</td>
                                    <td class="text-center">
                                        <button class="btn btn-lg p-0 " type="button" data-bs-toggle="modal" data-bs-target="#product-edit" onclick="set_info('<%=JSON.stringify(product[i]).replace(/'/g, '`').replace(/\\n/g,' ')%>',1)"><i class="bx bxs-edit"></i></button>
                                        <!-- <button class="btn btn-lg p-0 offset-1 " type="button" class="bx bxs-detail"></i></button> -->
                                        <button class="btn btn-lg p-0 offset-1 " type="button" data-bs-toggle="modal" data-bs-target="#confirmActionModal"  onclick="confirmmodal('<%= product[i].product_id %>',1)"><i class="bx bxs-trash"></i></button>
                                    </td>
                                </tr>
                                </tbody>

                            <% }
                            }%>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>

</main>




<%- include ("layouts/footer.ejs") %>


<script src="/lib/data_control.js"></script>
